<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnGK</title>
</head>

<body>
    <div class="content">

        <!-- <form action="/" method="post" enctype="multipart/form-data">
            <input type="text" namSe
        </form> -->

        <table>
            <tr>
                <th>STT</th>
                <th>Chi So ISBN</th>
                <th>Nam Xuat Ban</th>
                <th>So Trang</th>
                <th>Ten Bai Bao</th>
                <th>Ten Nhom Tac Gia</th>
            </tr>

            <% baiBaos.map(item=> { %>
                <tr>
                    <td>
                        <%=item.STT%>
                    </td>
                    <td>
                        <%=item.Chi_So_ISBN%>
                    </td>
                    <td>
                        <%=item.Nam_Xuat_Ban%>
                    </td>
                    <td>
                        <%=item.So_Trang%>
                    </td>
                    <td>
                        <%=item.Ten_Bai_Bao%>
                    </td>
                    <td>
                        <%=item.Ten_Nhom_Tac_Gia%>
                    </td>

                    <td>
                        <form action="/delete" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="STT" value="<%=item.STT%>"/>
                            <input type="submit" value="Xoa">
                        </form>
                    </td>
                </tr>

                <% }) %>
        </table>
    </div>

</body>

</html>